

body {
  background: #e9e7dd;

  /* Margin bottom by footer height */
/*  margin-bottom: 30px;*/
/*  font-family:"Fuller Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;*/
}

#blue {
	color:#2b71b8;
}

/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 30px;
  background-color: #f5f5f5;
  text-align: right;
}*/

#footer p {
/*	padding-top: 5px;*/
}

#searchResults {
	display: none;
}

#errorMessage {
	display: none;
}

/* navbar search field hidden when welcome screen is shown */
 #formHide {
 	display:none;
}

#welcomeForm {
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
}

#errorForm {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

#welcomeTitle {
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25%;
}

#errorTitle {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25%;
}

#welcomeInputDiv, #errorInputDiv {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#almost {
	font-style: italic;
}


#googleTrendsCanvas {
	text-align: center;
}


/* hide trends chart below width:600px */
@media (max-width:600px){
	#trendsRow{
		display: none;
	}
}

@media (max-width: 600px){
	#chimpSert{
/*		display: none;*/
	}
}

#chimpSert {
	margin-bottom: 20px;
}

/* bootstrap media sizes
@media(max-width:767px){} xs
@media(min-width:768px){} sm
@media(min-width:992px){} md
@media(min-width:1200px){} lg
*/

/* borders to clarify div sizes and positions
div {
	border-color: #222;
	border-width: 4px;
	border-style: solid;
}*/