

body {
  background: #e9e7dd;
}

#searchResults {
	display: none;
}

#errorMessage {
	display: none;
}

/* navbar search field hidden when welcome screen is shown */
#searchHide, #bs-example-navbar-collapse-1 {
	display: none;
}

#welcome {
}

#welcomeForm {
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
}

#errorForm {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

#welcomeTitle {
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25%;
}

#errorTitle {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25%;
}

#welcomeInputDiv, #errorInputDiv {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#almost {
	font-style: italic;
}


#googleTrendsCanvas {
	text-align: center;
}*/


/*limit page from becoming smaller than trends chart */
@media(max-width:767px){
	body {
/*		min-width: 600px;*/
	}
}



/* bootstrap media sizes
@media(max-width:767px){} xs
@media(min-width:768px){} sm
@media(min-width:992px){} md
@media(min-width:1200px){} lg
*/

/* borders to clarify div sizes and positions
div {
	border-color: #222;
	border-width: 4px;
	border-style: solid;
}*/